<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <main>
            Page is under maintenance. Will be back soon :D
        </main>
        {{> footer}}
    </body>
</html>